/* PRE LOADER  */
.loader_bg{
  position: fixed;
  z-index: 99999999;
  background: black;
  width: 100%;
  height: 100%;
}
.loader{
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  margin-top: 20%;
  margin-left: 43%;
}
.loader:before, .loader:after{
  content: '';
  border: 1em solid #ffff00;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
  animation: loader 2s infinite linear;
  opacity: 0;
}
.loader:before{
  animation-delay: .5s;
}


/* ANIMATIONS */
@keyframes loader{
  0%{
      transform: scale(0);
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  100%{
      transform: scale(1);
      opacity: 0;
  }
}

/* MEDIA QUERY */
@media (max-width: 1000px){
  .loader{
      margin-top: 35%;
      margin-left: 40%;
  }
}
@media (max-width: 550px){
  .loader{
      margin-top: 80%;
      margin-left: 32%;
  }
}



*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow-x: hidden;
}

.mainBody{
    /* background: url('image/04.jpg') no-repeat center center fixed; */
    background: url('image/04.jpg');
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* navbar */

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(3, 3, 3,0.7);
    overflow: hidden;
    text-size-adjust: 20px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    text-align: justify;
    padding: 10px 5px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:  rgba(0, 116, 194, 0.6);
    color: white;
    float: left;
    font-size: 1.8rem;
  }


/* Card Section  */

.card1 {
    box-shadow: 0px 4px 15px 0px  rgba(0, 116, 194, 0.7);
    max-width: 300px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 5rem;
  }
  
  .title1 {
    color: grey;
    font-size: 15px;
    font-weight: 500;
    font: outline;
  }
  
  .btn1 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: rgb(0, 116, 194);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(0, 116, 194);
  }
  
  .btn1:hover, a:hover {
    opacity: 0.7;
    transition: ease-in-out;
  }

  .imgg {
      border-radius: 4px;
  }
  .imgg:hover {
    box-shadow: 0 4px 15px 0px rgba(0, 116, 194, 0.7);
    
  }

  .lul{
    overflow: hidden;
    font-family: 'Abril Fatface', cursive;
    padding-bottom: 5px;
  }



/* Fullstack */
.padding-64 {
    font-size: 2.5em;
    padding: 0.5rem;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px black;
    border: 3px solid white;
    font-family: monospace;
    position:relative;
    text-align: center;
    background-color: rgba(250, 248, 248, 0.4);
    
  }

#demo{
    font-size: 1.2rem;
    font-family: 'B612 Mono', monospace;
    color: white;
    background-color: rgba(3, 3, 3,0.7);
    text-align: justify;
    color:#fff;
    padding: 5px;
}



  /* ABOUT ME  */
.about {
    /* margin-top: 5rem;
    margin-left: 10rem; */
    background-color: white;
    padding-top: 5rem;
    padding-bottom: 10rem;
    overflow: hidden;
}

.nameStyle{
    font-family: 'Yesteryear', cursive;
    font-size: 2rem;
    padding-top: 8px;
    overflow: hidden;
}
.aboutMe{
padding-left: 7rem;
padding-right: 7rem;
}

#zeroA{
    font-family: 'Abril Fatface', cursive;
    padding: 10px;
    text-align: center;
    font-size: 4rem;
    overflow: hidden;
}

#zeroB{
    font-family: 'Poppins', sans-serif;
    padding-top: 2rem;
    text-align: justify;
}

#zeroC{
    /* padding-left: 25rem; */
    color: rgb(97, 97, 97);
}
.extraOdd{
  font-size: 1.4rem;
}
.headbox{
    font-size: 2.7em;
    padding: 2px;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px black;
    border: 3px solid rgba(255, 255, 255, 1);
    font-family: Montserrat;
    position:relative; 
  }


.head{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    top:40%;
    text-align: center;
    color:rgb(255, 255, 255); 
   }
   
.upp{
    font-size:1.4em;
    font-family: Montserrat;
  }



/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 999;
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
    opacity: 0.6;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
    opacity: 0.6;
  }
  
  .google {
    background: #dd4b39;
    color: white;
    opacity: 0.6;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
    opacity: 0.6;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
    opacity: 0.6;
  }

.btnD {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
.btnD:hover {
    background-color: RoyalBlue;
  }



/* Achivements */

  .acomBg{
      padding-top: 3rem;
      background: url('image/03.jpg');
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      padding-bottom: 6rem;
  }
  .conti{
    box-shadow: 0px 4px 15px 0px  rgba(0, 116, 194, 0.4);
    padding: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    border: black;
    animation: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }



.conti {
    width: 250px;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    /* height: 300px; */
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom:5px solid black;
    border-right:5px solid black;
    border-radius: 30px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.conti:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border-top-right-radius:0px;
	border-bottom-left-radius:0px;
}

.conti:focus {
    outline: none;
}

.conti.color-1 {
        background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

#acomNum{
    font-family: 'Arvo', serif;
    font-size: 6rem;
    color: rgb(216, 216, 216);
    overflow: hidden;
    height: auto;
    width: 20rem;
}

#tempo{
  width: 20rem;
  margin-top: 12px;
  overflow: hidden;
  color: rgb(153, 0, 0);
}

#acomPara{
    font-family: 'Merienda One', cursive;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    overflow: hidden;
    width: 20rem;
}
.headingA{
    font-family: 'Abril Fatface', cursive;
    padding: 10px;
    text-align: center;
    font-size: 4rem;
    color: white;
}

hr{
    margin-left: 30rem;
    margin-right: 30rem;
    margin-bottom: 2.5rem;

}

.col-sm-4, .col-sm-6{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.col-sm-8 {
  text-align: center;
}

/* footer */

.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(51, 51, 71,1);
  color: rgb(85, 85, 85);
  /* text-align: center; */
  padding-top: 4px;
}

#barCode1{
  font-family: monospace;
  text-align: right;
  font-size: 1.5rem;
  margin-top: 10px;
  color: white;
}

#barCode2{
  font-family: 'Libre Barcode 128 Text', cursive;
  text-align: right;
  font-size: 2.5rem;
  color: white;
  z-index: 99;
}


/* Form- contactus */
.contact-section{
  /* background: url(image/04.jpg) no-repeat center; */
  /* background-size: cover; */
  padding: 40px 0;
}
.contact-section h1{
  text-align: center;
  overflow: hidden;
  color: #fff;
  font-family: 'Abril Fatface', cursive;
  font-size: 5rem;
  /* padding-bottom: 1rem; */
}

.contact-form{
  max-width: 500px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
  overflow: hidden;
}
.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #23405e;
  overflow: hidden;
}
textarea.contact-form-text{
  resize: none;
  height: 120px;
  overflow: hidden;
}
.contact-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 15px 45px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.7;
  font-size: 20px;
  overflow: hidden;
}
.contact-form-btn:hover{
  background: #00b7ff;
  transition: ease-in-out;
  overflow: hidden;
}

.tagg{
  font-size: 1.4rem;
  font-family: 'B612 Mono', monospace;
  padding: 10px;
  color: rgb(226, 226, 226);
}

.detailsLower{
  font-family: 'B612 Mono', monospace;
  padding: 10px;
  color: #fff;
  font-size: 1.2rem;
}

.planeLogo{
  margin-top: 12rem;
  font-family: 'Abril Fatface', cursive;
  margin-bottom: 30px;
  margin-left: 40px;
  text-align: left;
  font-size: 4rem;
  color: white;
}

.imeGo {
  background: url(image/05.jpg);
  padding-bottom: 6rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #000000;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 5px;
  background: #000;
}

/* The progress bar (scroll indicator) */
.progress-bar, #myBar {
  height: 5px;
  background: #00ff08;
  width: 0%;
  z-index: 100;
}


/* Skill Bar  */

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
  width:70%;
  margin-left: 15%;
	background:rgb(255, 236, 236);
	height:35px;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-webkit-transition:1s linear;
	-moz-transition:1s linear;
	-ms-transition:1s linear;
	-o-transition:1s linear;
	transition:01s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
  width:20%;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
  color:rgba(0, 0, 0, 0.4);
  text-align: left;
}

.editSkill{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  font-size: 5rem;
  overflow: hidden;
  color: rgb(255, 255, 255);
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  background-color: rgb(0, 0, 0);
  margin-bottom: 5rem;
}



/* Projects section */
.projectTitle{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  font-size: 6rem;
  overflow: hidden;
  color: rgb(0, 0, 0);
  padding-bottom: 2rem;
}

.projectsBg{
  /* background-color: white; */
  background-image: url(image/09.jpg);
  background-position: center;
  background-size: cover;
  padding: 6rem;
}

.card{
  box-shadow: 0px 4px 15px 0px  rgba(2, 154, 255, 0.8);
  width: 280px;
  height: 280px;
  text-align: center;
  background-color: rgba(255, 98, 98, 0.5);
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1.5rem;
  border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom:5px solid rgba(255, 0, 0, 0.616);
    border-right:5px solid rgba(255, 0, 0, 0.616);
    border-radius: 30px;
    moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.card:hover {
  background-position: 100%;
  moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-top-left-radius:0px;
border-bottom-right-radius:0px;
}

.imggoo{
  max-width: 100px;
  max height: 100px;
  padding: 5px;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.imggoo:hover{
  max-width: 100px;
  max height: 100px;
  
-webkit-filter: blur(0);
filter: blur(0);
}

.card-title{
  font-family: 'Anton', sans-serif;
  font-size: 15px;
  color: #000;
  padding-top: 8px;
  overflow: hidden;
}

.card-text{
  font-family: 'Pacifico', cursive;
  font-size: 14px;
  color: rgb(73, 73, 73);
  padding: 5px;
  overflow: hidden;
}




/* Customised scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fa0b0b85;
}

.contact-form{
  overflow: hidden;
}




                    /* Acomplishments */


a {
  text-decoration: none;
}
a:visited {
  color: #555566;
}
a:hover {
  text-decoration: underline;
}
.infocardContainer {
  display: flex;
  height: 20.5rem;
  width: 20rem;
  border-radius: 10px;
  background: rgb(0,159,255);
  background: linear-gradient(121deg, rgba(255,255,255,0) 13%, rgba(0,159,255,1) 100%);
  transition: all 300ms ease-in;
  transition-delay: 0.4s;
  margin: auto;
  margin-top: 100px;
  --margin-top: 100px;
  text-align: center;
}
.infocardContainer:hover {
  width: 50rem;
  border-radius: 100px 10px 100px 0px;
  transition: all 400ms ease-out;
}

.infocardContainer div * {
  display: flex;
  --flex: inherit;
  overflow: hidden;
  text-overflow: hidden;
  --background-color: yellow;
  color: white;
  white-space: nowrap;
  width: 0;
  height: auto;
  transition: all 200ms ease-in;
  transition-delay: 0.4s;
}

.infocardContainer:hover div *{
  --background-color: rgb(119, 110, 119);
  display: flex;
  visibility: visible;
  transition: all 300ms ease-out;
  transition-delay: 500ms;
  width: 100%;
  height: auto;
}

.infocardContainer #main {
  height: 20.5rem;
  width: 20rem;
  text-align: center;
  display: inline-block;
  position: relative;
  padding-right: 15px;
  transition: all 250ms ease-in;
  transition-delay: 300ms;
}

.infocardContainer:hover #main{
  transition: all 250ms ease-out;
  transition-delay: 300ms;
  box-shadow: 10px 10px 15px 20px  rgba(0, 139, 231, 0.6);
}

.infocardContainer #textbois, .links{
  position: relative;
  text-align: justify;
  margin-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Cuprum', sans-serif;
  letter-spacing: 1px;
  font-size: 1.5rem;
  overflow: hidden;
}


.counterX{
margin-top: 18px;
text-align: center;
color: rgb(214, 212, 212);
font-family: 'B612 Mono', monospace;
}

.counterX p {
	font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 700;
}

#count {
	letter-spacing: 4px;
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
}
